@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rubik;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px;
  overflow: hidden;
  gap: 16px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 144px;
}

.icon-hamburger {
  display: block;
}

.header-one {
  display: none;
}

.rectangle {
  transform: translate(43px, 174px);
}

.illustration-hero {
  width: 308px;
  transform: translate(19px, -61px);
}

.simple-bookmark-style {
  color: #242a45;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.09375px;
  text-align: center;
}

.illustration-features-tab-1-bookmark-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.span-section {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: grey;
}

.two-button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.get-in-chrom-button {
  color: white;
  background-color: #5267df;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
}

.get-in-firebox-button {
  color: black;
  background-color: #f7f7f7;
  padding: 10px 17px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
}

.illustration-features-tab-1 {
  width: 311px;
  margin-top: 17px;
}

.button-bookmark-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.bookmark-click-style {
  font-size: 24px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.07500000298023224px;
  text-align: center;
}

.download-style {
  font-size: 24px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.07500000298023224px;
  text-align: center;
}

.more-info-style {
  color: white;
  background-color: #5267df;
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
}

.features-style {
  font-size: 24px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.07500000298023224px;
  text-align: center;
}

.line-simple-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.line-two-style {
  display: none;
}

.line-speedy-easy-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.simple-style {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.533333420753479px;
  text-align: center;
}

.browser-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  gap: 21px;
}
.browser-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  gap: 21px;
}

.browser-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  gap: 21px;
}

.browser-style {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.7px;
  letter-spacing: 0.25px;
  text-align: center;
}

.version-style {
  color: #6c757d;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.browser-button {
  padding: 10px 35px;
  background-color: #5267df;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.Frequently-style {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.07500000298023224px;
  text-align: center;
}

.arrow-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  margin-top: 25px;
}

.info-arrow-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.icon-arrow-one {
  margin-left: 140px;
}

.icon-arrow-two {
  margin-left: 27px;
}

.icon-arrow-three {
  margin-left: 120px;
}

.email-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5267df;
  color: #ffffff;
  padding: 30px;
  gap: 17px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.joined-style {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 4.615385055541992px;
  text-align: center;
}

.stay-up-to-date-style {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.07500000298023224px;
  text-align: center;
}

#email {
  padding: 10px 77px;
}

.contact-us-style {
  background-color: #fa5959;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  padding: 10px 116px;
  border: none;
  border-radius: 5px;
}

.error {
  display: none;
}

footer {
  background-color: #242a45;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  padding: 32px;
  width: 100%;
}

.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1.7307690382003784px;
  text-align: right;
}
.icon-info-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

@media (min-width: 1024px) {
  main {
    overflow: hidden;
  }
  header {
    gap: 537px;
  }
  .icon-hamburger {
    display: none;
  }
  .header-one {
    display: block;
    flex-direction: row;
    align-items: center;
    gap: 44px;
  }

  .info-section {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-align: right;
  }

  .login-style {
    color: white;
    background-color: #fa5959;
    padding: 12px 32px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-align: right;
    cursor: pointer;
  }

  .simple-bookmark-and-illustration-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .rectangle {
    width: 600px;
  }

  .illustration-hero {
    width: 537px;
    transform: translate(19px, -220px);
  }

  .simple-bookmark-style {
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.15000000596046448px;
    text-align: left;
  }

  .simple-span-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pricing-section {
    flex-direction: row;
  }

  .icon-info-style {
    margin-left: 449px;
  }

  .features-style {
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
  }

  .span-section {
    width: 540px;
    height: 84px;
    top: 68px;
    gap: 0px;
    opacity: 0.5px;
  }

  .line-style {
    display: none;
  }

  .line-simple-section {
    flex-direction: row;
    gap: 90px;
  }

  .line-two-style {
    display: block;
  }

  .illustration-features-tab-1 {
    width: 536px;
  }

  .illustration-features-tab-1-bookmark-section {
    flex-direction: row;
    gap: 125px;
  }

  .download-style {
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
  }

  .Frequently-style {
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    margin-top: 65px;
  }
  .browser-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
  }

  .browser-section-one {
    transform: translate(10px, 31px);
  }

  .browser-section-two {
    transform: translate(10px, 60px);
  }

  .email-contact-section {
    width: 100%;
  }

  .form-container {
    flex-direction: row;
    gap: 12px;
  }

  .contact-us-style {
    padding: 10px 24px;
  }

  footer {
    flex-direction: row;
  }
}
